.layout {
  &__card {
    cursor: pointer;
    padding: 37px 45px;
    background-color: rgba(255, 255, 255, 0.05);
    stroke-width: 0.5px;
    stroke: $white;
    border-radius: 19px;
    box-shadow: -23px -19px 69.9px 0px rgba(255, 255, 255, 0.15) inset, 0px 4px 31.7px 0px rgba(0, 0, 0, 0.08) inset;
    backdrop-filter: blur(8.149999618530273px);
  }

  &__top {
    position: relative;

    &-name {
      font-size: 40px;
      font-family: $halvarRg;
      font-weight: 700;
      position: absolute;
      right: 0;
      line-height: 1;
      top: -8px;
    }

    &-title {
      font-size: 24px;
      line-height: 1.1;
      font-family: $halvarBlk;
      font-weight: 900;
      margin-bottom: 24px;
      max-width: 1020px;
    }

    &-text {
      margin-bottom: 40px;
      font-size: 15px;
      line-height: 1.45;
      max-width: 900px;
      color: rgba($white, .8);
      font-family: $halvarRg;
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 40px;
    }

    &-price {
      display: flex;
      max-width: max-content;
      font-size: 28px;
      line-height: 1;
      font-weight: 700;
      font-family: $halvarRg;
      border-radius: 120px;
      padding: 8px 13px;
      border: 0.5px solid #FFF;
      background: rgba(255, 255, 255, 0.05);
      box-shadow: -23px -19px 69.9px -37px rgba(255, 255, 255, 0.15) inset, 0px 4px 31.7px 8px rgba(0, 0, 0, 0.08) inset;
      backdrop-filter: blur(8.149999618530273px);
    }

    &-square {
      @include flex-center;
      font-family: $halvarRg;
      font-size: 16px;
      line-height: 1;
      border-radius: 120px;
      padding: 8px 18px;
      background-color: $accent;
    }
  }

  &__content {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: repeat(3, 1fr);

    &-item {
      @include flex-column(0);
    }

    &-text {
      font-size: 13px;
      margin-bottom: 15px;
      font-family: $halvarRg;
    }
  }

  &__img {
    @include objectCoverBg;
    margin-bottom: 20px;
    border-radius: 10px;

    &--big {
      height: 100%;
      margin-bottom: 0;
    }
  }

  &__btn {
    @include flex-center;
    margin-top: auto;
    background-color: $accent;
    padding: 8px 23px;
    border-radius: 120px;
    max-width: 100%;
    color: $white;
    border: 1px solid transparent;
    transition: border .4s, color .4s, background-color .4s, opacity .4s;

    &:hover {
      background-color: #879f4e;
      color: $white;
      border-color: transparent;
    }

    &:focus {
      background-color: transparent;
      border-color: $accent;
      color: $white;
    }

    &.swiper-button-disabled {
      pointer-events: none;
      user-select: none;
      opacity: .6;
    }
  }
}