.header {
  padding: 28px 0 26px;
  position: relative;
  z-index: 40;
  background-color: #141414;
  @include r($desktop) {
    padding-top: 22px;
  }
  @media (max-width: 1170px) {
    padding-bottom: 34px;
  }
  @include r($tablet) {
    padding: 26px 0 28px;
  }

  &__inner {
    position: relative;
    z-index: 50;
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 1170px) {
      gap: 20px;
    }
  }

  &__logo {
    @media (max-width: 1170px) {
      width: 94px;
      height: auto;
    }
  }

  &__nav {
    margin-left: auto;
    @include r($phone) {
      margin-left: 0;
    }

    @media (max-width: 1170px) {
      display: none;
    }

    &.mobile {
      display: none;
      @media (max-width: 1170px) {
        display: block;
      }
    }
  }

  &__list {
    @include flex-align-center(22);
    @media (max-width: 1170px) {
      flex-direction: column;
      align-items: flex-end;
      gap: 34px;
    }
    @include r($phone) {
      align-items: flex-start;
    }
  }

  &__link {
    line-height: 1.4;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1px 2px;
    transition: color .4s, border .4s, opacity .4s;
    @media (max-width: 1170px) {
      font-size: 18px;
      padding: 2px 3px;
    }
    @include r($tablet) {
      font-size: 17px;
    }

    &:hover {
      color: #9cb75c;
    }

    &:focus {
      border-color: #9cb75c;
      color: #bcde68;
    }
  }

  &__right {
    @include flex-align-center(26);
    @media (max-width: 1170px) {
      margin-left: auto;
    }
  }

  &__phone {
    @include flex-align-center(6);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px 2px;
    transition: color .4s, border .4s;
    @media (max-width: 870px) {
      display: none;
    }

    &:hover {
      color: #badc6b;

      svg path {
        stroke: #badc6b;
      }
    }

    &:focus {
      border-color: #badc6b;
    }

    svg {
      width: 20px;
      height: auto;
    }

    &.mobile-adaptive {
      display: none;
      @media (max-width: 870px) {
        display: flex;
        margin-left: auto;
        margin-bottom: 10px;
      }
      @include r($phone) {
        margin-left: 0;
      }
    }
  }

  &__swap {
    position: relative;
    z-index: 5;
    @include flex-column(6);
    padding: 5px 7px 5px 5px;
    border-radius: 10px;
    background-color: rgba($white, .05);
    @include r($tablet) {
      background-color: rgba($white, .1);
    }
    @media (max-width: 400px) {
      display: none;
    }

    &:hover {
      .header__swap-wrapper {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }
    }

    &.mobile {
      display: none;
      @media (max-width: 400px) {
        display: flex;
        margin-left: 0;
        margin-bottom: 0;
        max-width: max-content;
      }
    }

    &-wrapper {
      padding-top: 15px;
      opacity: 0;
      z-index: 30;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      left: 0;
      width: 100%;
      top: 45px;
      transition: visibility .4s, transfrom .4s, opacity .4s;
    }

    &-head {
      @include flex-align-center(9);
      cursor: pointer;

      &:hover {
        color: #badc6b;

        svg path {
          fill: #badc6b;
        }
      }
    }

    &-list {
      @include flex-column(6);
      width: 100%;
      padding: 6px 7px;
      border-radius: 8px;
      border: 1px solid rgba($white, .4);
      background-color: rgba($black, 1);
      transition: opacity .4s, transform .4s;
    }

    &-link {
      @include flex-align-center(7);
      border-radius: 5px;
      padding: 5px;
      border: 1px solid transparent;
      transition: background-color .4s, border .4s, color .4s;
      @include r($tablet) {
        font-size: 15px;
      }
      @include r($phone) {
        font-size: 14px;
      }
      @media (max-width: 400px) {
        font-size: 15px;
        padding: 7px 10px;
      }

      &:hover {
        background-color: rgba($accent, .3);
      }

      &:focus {
        background-color: transparent;
        border-color: $accent;
      }

      &.active {
        background-color: rgba(#FFFFFF, .05);
        @include r($tablet) {
          background-color: rgba($white, .12);
        }
      }

      img {
        @include r($tablet) {
          width: 22px;
          height: 22px;
        }
      }
    }
  }

  &__btn {
    @include flex-center;
    padding: 12px 25px;
    border: 1px solid $white;
    border-radius: 45px;
    transition: border .4s, color .4s, background-color .4s;
    @media (max-width: 1170px) {
      padding: 9px 22px;
    }
    @include r($tablet) {
      font-size: 15px;
      padding: 8px 20px;
    }
    @media (max-width: 640px) {
      display: none;
      font-size: 16px;
    }

    &:hover {
      border-color: #9cb75c;
      color: #9cb75c;
    }

    &:focus {
      background-color: $white;
      color: #161616;
      border-color: transparent;
    }

    &.mobile-adaptive {
      display: none;
      @media (max-width: 640px) {
        display: flex;
        margin-left: auto;
      }
      @include r($phone) {
        margin-left: 0;
      }
    }
  }

  &__mobile {
    @include flex-column(30);
    padding: 120px 25px 30px;
    display: none;
    pointer-events: none;
    user-select: none;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    width: 40%;
    background-color: #141414;
    transform: translateX(300%);
    height: 100vh;
    transition: transform .8s ease-in-out;
    @media (max-width: 1170px) {
      display: flex;
      align-items: flex-start;
      pointer-events: auto;
      user-select: auto;
    }
    @include r($lg) {
      transform: translateX(270%);
    }
    @media (max-width: 900px) {
      width: 52%;
    }
    @include r($tablet) {
      padding-top: 110px;
    }
    @include r($sm) {
      width: 100%;
    }

    &.active {
      transform: translateX(calc(100vw - 100%));
    }
  }
}